[flake8]
max-complexity = 10
max-line-length = 88
exclude =
    migrations,
    __pycache__,
    .git,
    .github,
    .mypy_cache,
    .pytest_cache,
    .tox,
    .vscode,
    docker,
    htmlcov,
    notebook_tests,
    .coverage,
    old,
    build,
    dist,
    test*,
    conftest.py

extend-ignore =
    D100,
    D101,
    D104,
    E203,
    W503,
